@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{ margin: 0; padding: 0;}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  min-height: 100v;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
    
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background: #eee;
}
.cd__intro{
   padding: 60px 30px;
   margin-bottom: 20px;
        flex-direction: column;

}
.cd__intro,
.cd__credit{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #2E151B;
    color: rgb(41, 112, 167);
    line-height: 1.2;
    text-align: center;
}

.cd__intro h1 {
   font-size: 30pt;
   padding-bottom: 20px;

}

.cd__action{
   text-align: center;
   display: block;
   margin-top: 20px;
}
/* /our devlopers/ */
.cd_action a.cd_btn {
  text-decoration: none;
  color: rgba(77, 27, 123, 0.946);
   padding: 10px 15px;
   display: inline-block;
   margin-left: 5px;
}
.cd_action a.cd_btn:hover{
   background: #666;
   color: #fff;
    transition: .3s;
-webkit-transition: .3s;
}
.cd_action .cd_btn:before{
  font-family: FontAwesome;
  font-weight: normal;
  margin-right: 10px;
}
.down:before{content: "\f019"}
.back:before{content:"\f112"}

.cd__credit{
    padding: 12px;
    font-size: 9pt;
    margin-top: 40px;

}
.cd__credit span:before{
   font-family: FontAwesome;
   color: #e41b17;
   content: "\f004";


}
.cd__credit a{
   color: #333;
   text-decoration: none;
}
.cd__credit a:hover{
   color: #1DBF73; 
}
.cd__credit a:hover:after{
    font-family: FontAwesome;
    content: "\f08e";
    font-size: 9pt;
    position: absolute;
    margin: 3px;
}
.cd__main{
  background: #2F4454;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}
.cd__main{
    display: flex;
    width: 100%;
}

@media only screen and (min-width: 1360px){
    .cd__main{
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto; 
      padding: 24px;
    }
}
body{
    display:flex;
    margin:0;
    padding:0;
    min-height: 100vh;
    background: rgb(53, 193, 172);
    justify-content: center;
    align-items: center;
    font-family: arial;
  }
  
  .container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    
  }
  
  .container .card{
    position: relative;
  }
  
  .container .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  
  .container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  
  .container .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      /* inset 0 0 60px whitesmoke,
      inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff,
      inset 20px 0 300px #f0f,
      inset -20px 0 300px #0ff, */
      0 0 50px #fff,
      -10px 0 80px rgb(71, 114, 170),
      10px 0 80px rgba(13, 230, 230, 0.952);
     
  }
  
  
  .container .card .face.face1 .content{
    opacity: 100%;
    transition:  0.5s;
    text-align: center;
  }
  
  .container .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container .card .face.face1 .content i{
    font-size: 3em;
    color: rgb(109, 230, 79);
    display: inline-block;
     
  }
  
  .container .card .face.face1 .content h3{
    font-size: 1em;
    color: rgb(57, 118, 159);
    text-align: center;
    
  
  }
  
  .container .card .face.face1 .content a{
     transition: .5s;
  }
    
  .container .card .face.face2{
     position: relative;
     background: rgba(118, 72, 187, 0.851);
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(150, 219, 39, 0.441);
    transform: translateY(-100px);
  }
  
  .container .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    padding: 0;
    color:#333;
  }
  
  .container .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed rgb(53, 193, 172);
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  
  .container .card .face.face2 .content a:hover{
    background: rgb(53, 193, 172) ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }