*{
    margin: 0;
    padding: 0;
}
.contanier
{
    margin-left: 30vw
}
.main-container {
    width: 100vw;
    height: 40vh;
    /* display:flex; */
    align-items: center;
    /* background-color:rgb(21, 21, 138); */
    color: #ddd;
    margin-left: 30vw;
    margin-top: 15vh;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    max-width: 700px;
}
.timer
{
    background-color: rgb(243, 192, 130);
    padding: 20px;
    text-align:end;
}

.options{
    position: relative;
    padding-left: 40px;
}
.options input{
    opacity: 0;
    /* display: flex; */
    /* position:absolute; */
}
/* .checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #555;
    border: 1px solid #ddd;
    border-radius: 50%;
} */
.options input:checked ~ .checkmark:after {
    display: block;
}
.options .checkmark:after{
    content: "";
	width: 10px;
    height: 10px;
    display: block;
	background: white;
    position: absolute;
    top: 50%;
	left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 300ms ease-in-out 0s;
}